<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle do condomínio</title>
</head>
<body>
    <h3>Codôminos</h3>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Complemento</td>
                <td>Vencimento</td>
                <td>situacao</td>
            </tr>
        </thead>
        <tbody>
            <% bancocond.forEach(function(details){ %>
                <tr>
                    <td><%= details.name %></td>
                    <td><%= details.complemento %></td>
                    <td><%= details.vencimento %></td>
                    <td><%= details.situacao %></td>

                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/"> <button type="submit">Registar</button> </a> 
    
</body>
</html>