<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de condôminos</title>
</head>
<body>
    <h1>Registro de novos côndominos</h1><br>
    <form action="/show" method="POST">
        Nome e sobrenome: <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="sobrenome" name="surname"></br></br>
        Celular: <input type="text" placeholder="Celular" name="celular"></br></br>
        CPF: <input type="text" placeholder="CPF" name="cpf"></br></br>
        RG: <input type="text" placeholder="RG" name="rg"></br></br>
        E-mail: <input type="email" placeholder="E-mail" name="email"></br></br>
        Complemento: <input type="text" placeholder="complemento" name="complemento"></br></br>
        <a href="/projetoBD/views/home.ejs"><button type="submit"> Enviar</button></a>
    </form>
</body>
</html>