<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registo de novos moradores</title>
</head>
<body>
    <h3>Cadastro realizado com sucesso!</h3>
<h4>Realizar um novo cadastro?</h4> <a href="/"><button>Novo cadastro</button></a>
<h4>voltar para a pagina inicial?</h4> <a href="/home"><button>Pagina inicial</button></a>
</body>
</html>